# Copy again .eslintignore file for VSCode that reads only this file at the
# root level.

# Static & External librairies & build files
**/*/dist
**/*/node_modules

# Generated OpenAPI files
**/openapi

# Configs
.eslintrc.js
