<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1"
    />

    <title><%= title %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/w/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/w/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/w/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/w/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/w/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta
      name="msapplication-config"
      content="/w/static/favicon/browserconfig.xml"
    />

    <link rel="stylesheet" href="/w/<%- indexCssScript %>" />
  </head>

  <body>
    <div id="app"></div>

    <script type="module" src="/w/<%- indexHtmlScript %>"></script>
  </body>
</html>
